.bg-svg {
  background-image: url("../images/background-lg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

@media (max-width: 767.98px) {
  .bg-svg {
    background-image: url("../images/background.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

@media (min-width: 991.98px) {
  .bigger-text {
    font-size: 2vw;
  }

  .centralize {
    width: 20%;
    max-width: fit-content;
  }
}

.border-ifood-red {
  border-color: #ea1d2c;
}

.ifood-red {
  color: #ea1d2c;
}

.ifood-red-btn {
  background-color: #ea1d2c;
  color: #ffffff;
}

.ifood-red:hover {
  color: #ea1d2c;
}

.active-ifood-red {
  color: #ffffff;
  background-color: #ea1d2c;
}

.active-ifood-red:hover {
  color: #ea1d2c;
}

.min-height-container {
  min-height: 30vh;
}

.clickable:hover {
  cursor: pointer;
}