* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.icons {
  font-size: 40px;
  color: #dc143c;
  margin: 10px;
}
